*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: blueviolet; */
}
body{
    background-color: rgb(167, 84, 244);
}
.box{
    /* background-color: aqua; */
    width: 90%;
    min-height: 300px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid black;
    position: relative;
    /* background-color: aliceblue; */
    background-image: linear-gradient(25deg,rgba(0, 0, 255, 0.414),pink);
}
.box img{
    position: absolute;
    left: 60%;
    height: 400px;
}
.box .box1{
    border: 2px solid;
    border-color: aliceblue;
    width: 40%;
    margin-top: 40px;
    min-height: 350px;
    margin-left: 40px;
    margin-bottom: 50px;
    /* background-color: aliceblue; */
    /* background-image: linear-gradient(25deg,rgba(0, 0, 255, 0.414),pink); */
}
.login{
    padding-left: 30px;
}
.login h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 20px;
}
.login h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(119, 116, 116);
}
.login h5{
    text-align: center;
    width: 90%;
}
.google {
    width: 170px;
    height: 50px;
    padding-top: 15px;
    padding-left: 80px;
    border: 2px solid orange;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 130px;
    position: relative;
}
.google a{
    /* background-image: url(/image/google.png); */
    font-family: "Poppins", sans-serif;
    font-size: large;
}
.google img{
    width: 40px;
    height: 30px;
    position: absolute;
    left: 15%;
    padding-bottom: 10px;
}
.fbook {
    margin-top: 10px;
    width:170px;
    height: 50px;
    border: 2px solid blue;
    border-radius: 7px;
    padding-top: 15px;
    padding-left: 80px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
    margin-left: 130px;
}
.fbook img{
    width: 40px;
    height: 30px;
    position: absolute;
    left: 17%;
    padding-bottom: 10px;
}
label{
    font-family: "Poppins", sans-serif;
    font-size: medium;
    
}
input[type=text] {
    width: 95%;
    height: 30px;
    padding: 10px 10px;
    padding-left: 30px;
    margin-bottom: 10px;
    text-align: center;
    outline: none;
    border-radius: 10px;
    background-color: bisque;
    background-image: url(/image/username.png);
    background-repeat: no-repeat;
}
input[type=password]{
    width: 95%;
    height: 30px;
    outline: none;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 10px;
    padding-left: 30px;
    background-color: bisque;
    background-image: url(/image/password.png);
    background-repeat: no-repeat;
}
input[type=checkbox]{
    width: 30px;

}
input[type=submit]{
    width: 90%;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(146, 6, 153);
    color: azure;
    outline: none;
    border: none;
    font-size: medium;
    font-family: "Poppins", sans-serif;
}
label a{
    padding-left: 200px;
    font-size: small;
}
