*{
    padding: 0;
    margin: 0;
}
section{
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* border: 2px solid black; */
    margin: auto;
    box-sizing: border-box;
    position: relative;
    background-image: linear-gradient(50deg,#5433FF,#20BDFF,#A5FECB),url(/image/office1-preview.png);
    background-blend-mode: screen;
    background-repeat: no-repeat;
    padding: 100px;
}
section .contain{
    width: 500px;
}
section .contain h1{
    font-size: 60px;
}
section .contain p{
    font-size: 20px;
}
 section img{
    width: 400px;
    position: relative;
   /* z-index: 1; */
} 
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
}
.custom-shape-divider-bottom-1709113462 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1709113462 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1709113462 .shape-fill {
    fill: #FFFFFF;
}
